<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        alt="logo"
        height="22"
        src="assets/icon/logo-transparent.png"
        class="header-logo"
      />Signup</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-logo">
    <img src="assets/icon/logo-name-transparent.png" alt="VoteR logo" />
  </div>
  <form #signupForm="ngForm" novalidate class="form">
    <ion-list>
      <ion-item>
        <ion-label color="secondary">Username</ion-label>
        <ion-input
          [(ngModel)]="signup.username"
          name="username"
          type="text"
          #username="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label color="secondary">Password</ion-label>
        <ion-input
          [(ngModel)]="signup.password"
          name="password"
          type="password"
          #password="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label color="secondary">Are you able to drive?</ion-label>
        <ion-checkbox
          slot="end"
          [(ngModel)]="signup.role"
          name="role"
          #role="ngModel"
        ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label color="secondary">Select leave time on the election:</ion-label>
        <ion-datetime
          color="secondary"
          displayFormat="HH:mm DD/MM/YYYY"
          [(ngModel)]="signup.leaveTime"
          name="leaveTime"
          #leaveTime="ngModel"
        ></ion-datetime>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Sign Up</ion-button>
    </div>
  </form>
</ion-content>
