<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="22" src="assets/icon/logo-transparent.png" class="header-logo" />
      Voting Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="candidates">
    <ion-list>
      <ion-list-header>
        <ion-label><h1>Links to Ballots</h1></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ballot of ballots">
        <ion-label (click)="goTo(ballot.link)">
          <h2>{{ ballot.party }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label><h1>Candidates</h1></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let candidate of candidates">
        <ion-label>
          <ion-icon slot="start" name="contact"></ion-icon>
          <h2>{{ candidate.name }}</h2>
          <h4>Party: {{ candidate.party }}</h4>
          <h4>Office: {{ candidate.office }}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
